{% extends 'base.html' %}

{% block title %}
    Lista de Productos
{% endblock %}

{% block titulo %}
    Lista de Productos
{% endblock %}

{% block content %}
{% load static %}


<div class="container mt-5">
    <h1 class="mb-4">Productos Disponibles</h1>
    <div class="row">
        {% for producto in productos %}
            <div class="col-12 col-md-6 col-lg-6 mb-4"> <!-- Cambié col-lg-4 a col-lg-6 para hacerlas más grandes -->
                <div class="card border rounded" style="border-color: #8B4513; background-color: rgba(255, 255, 255, 0.8);">
                    <img src="{{ producto.imagen.url }}" class="card-img-top" alt="{{ producto.nombre }}">
                    <div class="card-body">
                        <h3 class="card-title" style="color: #d9534f;"><strong>{{ producto.nombre }}</strong></h3>
                        <p class="card-text"><strong>{{ producto.descripcion|truncatewords:20 }}</strong></p>
                        <p class="card-text"><strong>Precio:</strong> ${{ producto.precio }}</p>
                        <a href="{% url 'detalle_producto' producto.id %}" class="btn btn-primary">Ver detalles</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
<a class="btn bg-primary" href="{% url 'agregar_producto' %}">Registar un Producto</a>
{% endblock %}