{% extends 'base.html' %}

{% block title %}
    Detalles del Pedido
{% endblock %}

{% block titulo %}
    Detalles del Pedido N°{{ pedido.id }}
{% endblock %}

{% block content %}

    <p><strong>Proveedor:</strong> {{ pedido.proveedor }}</p>
    <p><strong>Fecha:</strong> {{ pedido.fecha_solicitud }}</p>
    <p><strong>Observaciones:</strong> {{ pedido.observaciones }}</p> <br>

    <h2>Insumos del Pedido</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Insumo</th>
                <th>Cantidad</th>
                <th>Precio Unitario</th>
                <th>Precio Total</th>
            </tr>
        </thead>
        <tbody>
            {% for detalle in detalles %}
            <tr>
                <td>{{ detalle.insumo.nombre }}</td>
                <td>{{ detalle.cantidad }}</td>
                <td>{{ detalle.insumo.precio_unitario }}</td>
                <td>{{ detalle.precio_total }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
<p><strong>Total:</strong> {{ pedido.total }}</p>
{% endblock %}
