{% extends 'base.html' %}

{% block title %}
    Detalles del Pedido
{% endblock %}

{% block titulo %}
    Detalles del Pedido N°{{ pedido.id }}
{% endblock %}

{% block content %}

    <p><strong>Proveedor:</strong> {{ pedido.proveedor }}</p>
    <p><strong>Fecha:</strong> {{ pedido.fecha_solicitud }}</p>
    <p><strong>Observaciones:</strong> {{ pedido.observaciones }}</p> <br>

    <h2>Insumos del Pedido</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Insumo</th>
                <th>Cantidad</th>
                <th>Precio Unitario</th>
                <th>Precio Total</th>
            </tr>
        </thead>
        <tbody>
            {% for detalle in detalles %}
            <tr>
                <td>{{ detalle.insumo.nombre }}</td>
                <td>{{ detalle.cantidad }}</td>
                <td>{{ detalle.insumo.precio_unitario }}</td>
                <td>{{ detalle.precio_total }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <p><strong>Total:</strong> {{ pedido.total }}</p>

    <!-- Funcionalidad solo para usuario registrado -->
    <div class="container mt-5 text-center">
        <a href="/pedido/" class="btn btn-primary">Regresar</a>
        <a href="/pedido/{{ pedido.id }}/editar" class="btn bg-faded">Editar</a>
        <a href="#" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#confirmarEliminacionModal">Eliminar</a>

        <!-- Enlace para recibir el pedido solo si aún no se ha recibido -->
        {% if not pedido.recepcion %}
            <a href="{% url 'pedido:recibir_pedido' pedido.id %}" class="btn btn-success">Recibir Pedido</a>
        {% else %}
        <p class="text-end"><strong>Pedido recibido el:</strong> {{ pedido.recepcion.fecha_recepcion }}</p>
        <p class="text-end"><strong>Por el empleado: </strong>{{ pedido.recepcion.empleado.nombreCompleto |upper}}</p>
        {% endif %}
    </div>

    <!-- Modal de Confirmación de Eliminación -->
    <div class="modal fade" id="confirmarEliminacionModal" tabindex="-1" aria-labelledby="confirmarEliminacionModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmarEliminacionModalLabel">Confirmar Eliminación</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                </div>
                <div class="modal-body">
                    ¿Estás seguro de que deseas eliminar este pedido? Esta acción no se puede deshacer.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <a href="{% url 'pedido:eliminar_pedido' pedido.id %}" class="btn btn-danger">Eliminar</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}