{% extends 'base.html' %}

{% block title %}
    Agregar Insumo
{% endblock %}

{% block titulo %}
    Gestion de Insumos
{% endblock %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-success">Guardar</button>
    </form>
{% endblock %}




<!-- insumo/agregar_insumos.html

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Agregar Insumo</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h1>Agregar Insumo</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-success">Guardar</button>
            <a href="{% url 'lista_insumos' %}" class="btn btn-secondary">Cancelar</a>
        </form>
    </div>
</body>
</html>
-->
<!-- insumo/agregar_insumo.html -->




