{% extends 'base.html' %}

{% block title %}
    Lista de Empleados
{% endblock %}

{% block titulo %}
    Lista de Empleados
{% endblock %}

{% block content %}
    <div class="container mt-5">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Cuit</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for empleado in empleados %}
                    <tr>
                        <td>{{ empleado.nombreCompleto }}</td>
                        <td>{{ empleado.cuit }}</td>
                        <td> <a class="btn bg-primary" href="{% url 'editar_empleado' empleado.id %}">Editar</a> - <a class="btn bg-danger" href="{% url 'eliminar_empleado' empleado.id %}">Eliminar</a></td>

                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="2">No hay empleados disponibles.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
