{% extends 'base.html' %}

{% block title %}
    Gestión del Sistema
{% endblock %}

{% block titulo %}
    Gestión del Sistema
{% endblock %}

{% block content %}
{% load static %}
    <div class="container mx-auto mt-5">

        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3 gap-4">

            <!--hay que agregar los enlaces a cada pagina podria ser la de listar de cada uno-->


            <a href="{% url 'lista_productos' %}" class="link-image block bg-white rounded-lg shadow-lg overflow-hidden">
                <img src="{% static 'img/productos.jpg' %}"  alt="Gestión de Productos" class="w-full h-48 object-cover">
                <h5 class="text-center p-2 font-semibold">Gestión de Productos</h5>
            </a>
            <a href="{% url 'listar_empleados' %}" class="link-image block bg-white rounded-lg shadow-lg overflow-hidden">
                <img src="{% static 'img/empleados.png' %}" alt="Gestión de Empleados" class="w-full h-48 object-cover">
                <h5 class="text-center p-2 font-semibold">Gestión de Empleados</h5>
            </a>
            <a href="{% url 'listar_clientes' %}" class="link-image block bg-white rounded-lg shadow-lg overflow-hidden">
                <img src="{% static 'img/clientes.jpeg' %}" alt="Gestión de Clientes" class="w-full h-48 object-cover">
                <h5 class="text-center p-2 font-semibold">Gestión de Clientes</h5>
            </a>
            <a href="" class="link-image block bg-white rounded-lg shadow-lg overflow-hidden">
                <img src="{% static 'img/pedidos.jpeg' %}" alt="Gestión de Pedidos" class="w-full h-48 object-cover">
                <h5 class="text-center p-2 font-semibold">Gestión de Pedidos</h5>
            </a>
            <a href="{% url 'lista_insumos' %}" class="link-image block bg-white rounded-lg shadow-lg overflow-hidden">
                <img src="{% static 'img/insumos.png' %}" alt="Gestión de Insumos" class="w-full h-48 object-cover">
                <h5 class="text-center p-2 font-semibold">Gestión de Insumos</h5>
            </a>

            <a href="gestionar_ventas.html" class="link-image block bg-white rounded-lg shadow-lg overflow-hidden">
                <img src="{% static 'img/ventas.webp' %}" alt="Gestión de Ventas" class="w-full h-48 object-cover">
                <h5 class="text-center p-2 font-semibold">Gestión de Ventas</h5>
            </a>
            <a href="gestionar_pedidos_recibidos.html" class="link-image block bg-white rounded-lg shadow-lg overflow-hidden">
                <img src="{% static 'img/pedidos.jpeg' %}" alt="Gestión de Pedidos Recibidos" class="w-full h-48 object-cover">
                <h5 class="text-center p-2 font-semibold">Gestión de Pedidos Recibidos</h5>
            </a>
            <a href="gestionar_proveedores.html" class="link-image block bg-white rounded-lg shadow-lg overflow-hidden">
                <img src="{% static 'img/proveedores.jpeg' %}" alt="Gestión de Proveedores" class="w-full h-48 object-cover">
                <h5 class="text-center p-2 font-semibold">Gestión de Proveedores</h5>
            </a>
            <a href="gestionar_informes.html" class="link-image block bg-white rounded-lg shadow-lg overflow-hidden">
                <img src="{% static 'img/informes.jpg' %}" alt="Gestión de Informes" class="w-full h-48 object-cover">
                <h5 class="text-center p-2 font-semibold">Gestión de Informes</h5>
            </a>
        </div>
    </div>
{% endblock %}